.signup-container {
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2%;
}

.signup-email,
.signup-password {
  width: 100%;
  height: 40px;
  padding-left: 15px;
  margin-top: 5px;
  border-radius: 15px;
}

.signup-button {
  margin-top: 10px;
  width: 300px;
  background: slateblue;
  color: white;
  height: 40px;
  text-align: center;
  padding: 10px;
  cursor: pointer;
  border-radius: 15px;
  font-size: large;
}

.avatar-test {
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

.signup-bg {
  margin-top: 30px;

  height: 300px;
  background: url("../../Assets/Images/clothes.jpg") no-repeat center center;
  margin-left: auto;
  margin-right: auto;
}

.signup-button:hover {
  background: darkorchid;
}
.signup {
  margin-top: 10px;
  text-align: center;
  font-size: 14px;
}

.signup > span {
  font-weight: bold;
  color: slateblue;
  cursor: pointer;
  font-size: 14px;
}

.signup > span:hover {
  color: darkorchid;
}

.signup-message {
  margin-top: 20px;
  text-align: center;
}

input {
  outline: none;
}

.failed {
  color: red;
}

.success {
  font-size: 16px;
  color: green;
}

.signin-link {
  margin-top: 20px;
  text-align: center;
}
a {
  text-decoration: none;
  color: slateblue;
  font-weight: bold;
}

a:hover {
  cursor: pointer;
  color: darkorchid;
}
