.login-container {
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2%;
}

.login-email,
.login-password {
  width: 100%;
  height: 40px;
  padding-left: 15px;
  margin-top: 5px;
  border-radius: 15px;
}

.login-button {
  margin-top: 10px;
  width: 300px;
  background: slateblue;
  color: white;
  height: 40px;
  text-align: center;
  padding: 10px;
  cursor: pointer;
  border-radius: 15px;
  font-size: large;
}

.avatar-test {
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

.login-bg {
  margin-top: 30px;
  height: 300px;
  background: url("../../Assets/Images/clothes.jpg") no-repeat center center;
  margin-left: auto;
  margin-right: auto;
}

.login-button:hover {
  background: darkorchid;
}
.signup {
  display: flex;
  justify-content: space-around;
  width: 250px;
  padding-top: 10px;
  color: white;
  margin-left: auto;
  margin-right: auto;
}

.signup a {
  font-weight: bold;
  color: slateblue;
  cursor: pointer;
  font-size: 16px;
}

.signup > span:hover {
  color: darkorchid;
}

.login-error {
  margin-top: 20px;
  text-align: center;
  color: red;
}

input {
  outline: none;
  font-size: large;
}
