.clozet-menu {
  display: flex;
  top: 60px;
  justify-content: space-around;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.clozet-menu-item {
  width: 180px;
  height: 50px;
  cursor: pointer;
  color: blueviolet;
  font-weight: bold;
  padding: 15px 0;
  padding-left: 10px;
}

.clozet-menu-item:hover {
  color: blueviolet;
  padding-left: 15px;
  font-weight: bold;
}
