.search-results-show {
  display: flex;
  width: 90%;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-left: auto;
  margin-right: auto;
}

.clozet-search-wrapper {
  padding-top: 20px;
  width: 350px;
  height: 350px;
  background-color: blueviolet;
  border-radius: 15px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}
.clozet-search-option {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

.clozet-search-option select {
  width: 100%;
  font-size: large;
  height: 30px;
  outline: none;
}

.clozet-search-option select:nth-child(1) {
  /* font-weight: bold; */
}

.clozet-search-option-title {
  font-weight: bold;
}

.clozet-search-button {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

.clozet-search-button > button {
  margin-top: 10px;
  font-size: large;
  height: 30px;
  width: 50%;
  margin-left: 25%;
}

.create-item-message-visibility {
  margin-top: 40vh;
  width: 350px;
  font-size: xx-large;
  font-weight: bold;
  color: red;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
