.person-item-container {
  width: 300px;
  /* height: 100px; */
  margin-left: auto;
  margin-right: auto;
  background-color: cornflowerblue;
  border-radius: 20px;
  margin-bottom: 20px;
  margin-top: 50px;
}

.person-item-details {
  padding-top: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  width: 150px;
  font-size: large;
}

.person-item-details span {
  font-weight: bold;
}
.person-item-buttons {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 20px;
  justify-content: space-between;
  font-weight: bold;
  display: flex;
}

.person-item-button {
  cursor: pointer;
  background-color: blueviolet;
  border-radius: 10px;
  color: white;
  width: 70px;
  height: 30px;
  text-align: center;
  padding-top: 7px;
}

.person-item-button:hover {
  color: goldenrod;
}

.create-item-error {
  color: red;
  width: 350px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
